# Export all names
exportPattern(".")
export(MonoMat, Monolpoly, sharpiteration, LLsharpen, CVsharp)
# Import all packages listed as Imports or Depends
importFrom("stats", "dnorm", "rnorm", "lm",  "coef", "approx", "complete.cases")
importFrom("graphics", "plot","lines", "points")
importFrom("KernSmooth", "locpoly", "dpill")
importFrom("quadprog", "solve.QP")
useDynLib(sharpData)

