useDynLib(sharpData, .registration = TRUE, .fixes = "C_")
export(MonoMat, Monolpoly, LLsharpen, CVsharp, sharpiteration)
importFrom("stats", "dnorm", "rnorm", "lm",  "coef", "approx", "complete.cases")
importFrom("graphics", "plot","lines", "points")
importFrom("KernSmooth", "locpoly", "dpill")
importFrom("quadprog", "solve.QP")

